main{
    width: 600px;
    margin: 0 auto;
}

table{
    margin: 20px;
    border: 1px solid black;
}

.login-container{
    margin: 100px
}

.switch label input#profile-switch-input[type="checkbox"]:checked + #profile-switch-lever.lever::after {
    background-color: #fff;
}