main{
    width: 600px;
    margin: 0 auto;
}

table{
    margin: 20px;
    border: 1px solid black;
}

.login-container{
    margin: 100px;
}

.switch label input#profile-switch-input[type="checkbox"]:checked + #profile-switch-lever.lever::after {
    background-color: #fff;
}

[type="radio"]:disabled:not(:checked)+span:before {
    border-color: red;
    background: red;
}

[type="radio"]:disabled:checked+span:after {
    background-color: green;
    border-color: green;
}

.switch label .lever {
    background-color: red;
}